html
{
	font-size: 14px;
}

table.balances
{
	td:first-child
	{
		font-weight: bold;
		padding-right: 10px;
	}
}

span.spacer
{
	display: inline-block;
	width: 10px; 
}

table.addresses, table.orders
{
	td, th
	{
		padding: 5px;
		padding-left: 0;
		text-align: left;
	}
}

.sweep-error
{
	color: red;
	padding-bottom: 10px;
}